body {
  font-family: Proxima Nova, sans-serif;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: {
    left: 40px;
    right: 40px;
  }

  & > div {
    width: 100%;
    margin: auto;
    max-width: 1760px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
